---
import Layout from '../layouts/Layout.astro';
import Event from '../components/Event.astro';
---

<Layout
	title="Schedule"
	description="Schedule of events"
>
	<div class="space-y-4">
		<Event title="Welcome" time="9:45am to 10:15am" description="Check in at the welcome table, sign our guest book, and take a polaroid in the garden. You can also enjoy some delicious spa water, sweet tea, or lemonade." />
		<Event title="Welcome" time="9:45am to 10:15am" description="Check in at the welcome table, sign our guest book, and take a polaroid in the garden. You can also enjoy some delicious spa water, sweet tea, or lemonade." />
		<Event title="Welcome" time="9:45am to 10:15am" description="Check in at the welcome table, sign our guest book, and take a polaroid in the garden. You can also enjoy some delicious spa water, sweet tea, or lemonade." />
	</div>
</Layout>
