---
import Layout from '../layouts/Layout.astro';
import Event from '../components/Event.astro';
---

<Layout
	title="Schedule"
	description="Schedule of events"
>
	<div class="space-y-6">
		<Event title="Welcome" time="9:45am to 10:15am">
			Check in at the welcome table, sign our guest book, and take a polaroid in the garden. You can also enjoy some delicious spa water, sweet tea, or lemonade.
		</Event>
		<Event title="Ceremony" time="10:15am to 10:45am">
			Get ready for quite the untraditional ceremony. Hopefully you’ll laugh, cry, and cheer during this action-packed half hour. More details on the <a href="/wedding/ceremony" class="text-violet-300">ceremony page</a>.
		</Event>
		<Event title="Cocktail Hour" time="10:45am to 11:45am">
			We don’t actually have cocktails, but please enjoy some wine, beer, sake, and soju. There will also be some yummy hors d’oeuvres. Full menu on the <a href="/wedding/reception" class="text-violet-300">reception page</a>.
		</Event>
		<Event title="Surprise Game" time="11:45am to 12:15pm">
			We’ve devised a delightful game for us all to play and get to know each other better. The game will be a tournament <s>to the death</s> for an exciting prize. The winner will take home an <a href="https://instax.com/wide/en/" class="text-violet-300" target="_blank">Instax wide camera</a>.
		</Event>
		<Event title="Reception" time="12:15pm to 1:45pm">
			What you’ve all been waiting for… free food! We’ll also pour out some sparkling rosé and toast to some speeches by <s>ChatGPT</s> the wedding party. Full menu on the <a href="/wedding/reception" class="text-violet-300">reception page</a>. Scroll to the bottom for table assignments.
		</Event>
		<Event title="Send Off" time="1:45pm to 2pm">
			It’s time to say goodbye? We have an after party at <a href="https://goo.gl/maps/qtzBWdJeY2YCFGpz7" class="text-violet-300" target="_blank">our house</a> in San Francisco. See you there at 7:30pm for more fun :).
		</Event>
	</div>
</Layout>
