---
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Map"
	description="Map of the garden"
>
	<div class="space-y-6">
		<Section title="Hakone Gardens">
			<a href="https://goo.gl/maps/ZEfn15vtyGVMdZBCA" class="text-violet-300" target="_blank">
				21000 Big Basin Way<br />
				Saratoga, CA  95070
			</a>
		</Section>
		<Section title="Garden Map">
			<a href="https://www.hakone.com/_files/ugd/831588_2e1365aad4e74e2788759e4b791776f8.pdf">
				<img src="/wedding/map.webp" class="rounded-lg" />
			</a>
		</Section>
		<Section title="Event Map">
			<a href="/wedding/map.png">
				<img src="/wedding/map.png" class="rounded-lg" />
			</a>
		</Section>
	</div>
</Layout>
