---
const { title } = Astro.props;
---

<div class="text-center">
	<div class="font-serif text-bold text-2xl text-center mb-4">
		{title}
	</div>
	<div class="leading-relaxed flex flex-col items-center">
		<slot />
	</div>
</div>