---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import '@fontsource/playfair-display';
import '@fontsource/poppins';


const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="font-sans">
		<Header />
		<main class="my-6">
			<slot />
		</main>
	</body>
</html>
